/* line 1, ../sass/main.scss */
#main {
  width: 80%;
  margin: 0 auto;
  font-size: 14px;
}
/* line 5, ../sass/main.scss */
#main .clear {
  clear: both;
}
/* line 8, ../sass/main.scss */
#main #header {
  margin: 0 auto;
  width: 100%;
}
/* line 11, ../sass/main.scss */
#main #header .logo {
  float: left;
  width: 30%;
  padding-top: 3px;
}
/* line 15, ../sass/main.scss */
#main #header .logo img {
  width: 80%;
}
/* line 19, ../sass/main.scss */
#main #header .title {
  float: left;
  width: 30%;
  text-align: center;
}
/* line 23, ../sass/main.scss */
#main #header .title h1 {
  font-size: 2em;
}
/* line 27, ../sass/main.scss */
#main #header .action-icons {
  float: right;
  width: 30%;
  padding-top: 20px;
}
/* line 31, ../sass/main.scss */
#main #header .action-icons .ico {
  cursor: pointer;
  float: right;
  font-size: 2em;
}
/* line 39, ../sass/main.scss */
#main #list-container .item {
  height: 50px;
  border: solid 3px #000;
  border-radius: 5px;
  background: #eee;
  margin-bottom: 15px;
}
/* line 45, ../sass/main.scss */
#main #list-container .item:nth-child(2n) {
  background: #fff;
}
/* line 48, ../sass/main.scss */
#main #list-container .item .id-item {
  font-size: 2em;
  width: 5%;
  float: left;
  padding-top: 7px;
  padding-left: 9px;
}
/* line 55, ../sass/main.scss */
#main #list-container .item .check-item {
  width: 5%;
  float: left;
  padding-top: 15px;
}
/* line 60, ../sass/main.scss */
#main #list-container .item .name-item {
  width: 70%;
  float: left;
  padding-top: 17px;
}
/* line 65, ../sass/main.scss */
#main #list-container .item .action-item {
  width: 18%;
  float: right;
}
/* line 68, ../sass/main.scss */
#main #list-container .item .action-item .icon-container {
  padding-top: 9px;
}
/* line 70, ../sass/main.scss */
#main #list-container .item .action-item .icon-container .ico {
  cursor: pointer;
  float: right;
  font-size: 2em;
}
/* line 79, ../sass/main.scss */
#main #new-item {
  height: 300px;
  background: #fff;
  z-index: 3;
  margin: 0 auto;
  position: relative;
  right: 0;
  float: right;
  top: 10%;
}
/* line 88, ../sass/main.scss */
#main #new-item.display-none {
  display: none;
}
/* line 91, ../sass/main.scss */
#main #new-item .name {
  height: 30px;
  padding: 3px;
  border-radius: 5px;
  border: 3px;
  border: solid 1px #eee;
}
/* line 98, ../sass/main.scss */
#main #new-item .add-item-button {
  border-radius: 3px;
  padding: 10px 21px;
  border: solid 1px #000;
  text-align: center;
}
