#main {
	width: 80%;
	margin: 0 auto;
	font-size: 14px;
	.clear {
		clear: both;
	}
	#header {
		margin: 0 auto;
		width: 100%;
		.logo {
			float:left;
			width: 30%;
			padding-top: 3px;
			img {
				width: 80%;
			}
		}
		.title {
			float:left;
			width: 30%;
			text-align: center;
			h1 {
				font-size: 2em;
			}
		}
		.action-icons {
			float:right;
			width: 30%;
			padding-top: 20px;
			.ico {
				cursor: pointer;
				float: right;
				font-size: 2em;
			}
		}
	}
	#list-container {
		.item {
			height: 50px;
			border: solid 3px #000;
			border-radius: 5px;
			background: #eee;
			margin-bottom: 15px;
			&:nth-child(2n) {
				background: #fff;
			}
			.id-item {
				font-size: 2em;
				width: 5%;
				float: left;
				padding-top: 7px;
				padding-left: 9px;
			}
			.check-item {
				width: 5%;
				float: left;
				padding-top: 15px;
			}
			.name-item {
				width:70%;
				float: left;
				padding-top: 17px;
			}
			.action-item {
				width:18%;
				float: right;
				.icon-container {
					padding-top: 9px;
					.ico {
						cursor: pointer;
						float: right;
						font-size: 2em;
					}
				}
			}
		}
	}
	#new-item {
		width: 80%;
		height: 300px;
		background: #fff;
		z-index: 3;
		margin: 0 auto;
		position: relative;
		left: 10%;
		top: 10%;
		&.display-none {
			display: none;
		}
		.name {
			height: 25px;
		}
		.add-item-button {
			border-radius: 5px; 
			padding: 8px 15px;
			border: solid 1px #000;
			text-align: center;
		}
	}
}